.git
.gitignore
.dart_tool
.packages
.pub-cache
.pub/
build/
android/
ios/
macos/
linux/
windows/
test/
**/*.g.dart
**/*.freezed.dart
.env
.env.*
.flutter-plugins
.flutter-plugins-dependencies
dartdoc_options.yaml
